Package: pd-mapper
Version: 0.7.1
Section: utils
Priority: optional
Architecture: all
Depends: libqrtr-dev, libqrtr-glib0
Maintainer: Fauzan Amir <you@example.com>
Description: Qualcomm PD mapper userspace daemon