#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make prefix=/usr

override_dh_auto_install:
	make prefix=/usr DESTDIR=$(CURDIR)/debian/pd-mapper install
	rm -rf debian/pd-mapper/usr/lib/systemd