[Unit]
Description=Qualcomm PD mapper service
After=qrtr-ns.service
Wants=qrtr-ns.service

[Service]
Type=simple
ExecStart=/usr/bin/pd-mapper
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target