Source: msm-modem
Section: misc
Priority: optional
Maintainer: Fauzan <you@example.com>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, pkg-config
Standards-Version: 4.6.0

Package: msm-modem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MSM modem daemon
 Simple modem service from postmarketOS